.backgroundCard {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  height: 330px;
  width: 320px;
  background-color: #fff4f4;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.backgroundCard:hover {
  background-color: #ffdede;
  transform: scale(1.05);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.image {
  height: 238px;
  width: 278px;
  margin: 21px;
  border-radius: 25px;
}

.title {
  display: flex;
  font-size: 20px;
  font-weight: 550;
  align-items: center;
  justify-content: center;
}
