.container {
  padding: 4% 2%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.buttons {
  display: flex;
  align-items: center;
}

.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
